
.footer {
    padding-top: 100px;
  }
  .footer .container .socialMedias {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }
  .footer .container .socialMedias a {
    background-color: #EFF2FC;
    border-radius: 7px;
  }
  .footer .container .socialMedias a:hover {
    background-color: #c5d2ff;
    transition: 0.3s;
  }
  .footer .container .socialMedias {
    margin: 15px 17.5px;
    font-size: 20px;
    color: #33354D;
  }
  .footer .container p {
    text-align: center;
    font-size: 18px;
    color: #9397AD;
  }
  .footer .container .footerRights {
    padding-bottom: 50px;
    position: relative;
    bottom: 12px;
  }