.wrapper .btnPurpleS {
    background-color: #6366f1;
    border: 1px solid #6366f1;
    color: #f0efe9;
    padding: 6.5px 23px;
    font-weight: 600;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 5px;
    box-shadow: rgb(207, 207, 207) 0px 1px 1px 1px;
  }
  .wrapper .btnPurpleS i {
    margin-right: 4px;
    font-size: 0.9em;
  }
  .wrapper .btnPurpleS:hover {
    background-color: #eff2fc;
    border: 1px solid #eff2fc;
    color: #191919;
    transition: 0.3s;
  }
  .wrapper .btnWhiteS {
    position: relative;
    margin-right: 10px;
    background-color: #eff2fc;
    border: 1px solid #eff2fc;
    color: #191919;
    padding: 6.5px 23px;
    font-weight: 600;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 5px;
    box-shadow: rgb(207, 207, 207) 0px 1px 1px 1px;
  }
  .wrapper .btnWhiteS i {
    margin-right: 4px;
    font-size: 0.9em;
  }
  .wrapper .btnWhiteS:hover {
    background-color: #6366f1;
    border: 1px solid #6366f1;
    color: #f0efe9;
    transition: 0.3s;
  }
  .wrapper header {
    padding-top: 20px;
  }
  .wrapper header .container {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto auto;
  }
  .wrapper header .menu {
    position: relative;
    left: -130px;
  }
  .wrapper header .menu a {
    color: #33354d;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    margin-left: 20px;
  }
  .wrapper header #profilepic {
    width: 46px;
    position: relative;
    left: 335px;
  }
  .wrapper main {
    padding-top: 20px;
  }
  .wrapper main .sinCourse #sCourseImage {
    width: 100%;
  }
  .wrapper main .sinCourse .container {
    position: absolute;
    top: 215px;
    left: 300px;
  }
  .wrapper main .sinCourse .container .badges {
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
  }
  .wrapper main .sinCourse .container .badges #sBest {
    border: 1px solid #22c55e;
    width: 100px;
    text-align: center;
    background-color: #22c55e;
    border-radius: 5px;
    color: white;
  }
  .wrapper main .sinCourse .container .badges #sDigital {
    border: 1px solid #eff2fc;
    width: 100px;
    text-align: center;
    background-color: #eff2fc;
    border-radius: 5px;
    color: black;
  }
  .wrapper main .sinCourse .container .sCourseInfo {
    padding-bottom: 40px;
    cursor: pointer;
  }
  .wrapper main .sinCourse .container .sCourseInfo h2 {
    font-size: 45px;
    color: white;
  }
  .wrapper main .sinCourse .container .sCourseInfo p {
    font-size: 20px;
    color: rgb(201, 199, 199);
  }
  .wrapper main .sinCourse .container .sRating {
    display: flex;
    gap: 20px;
  }
  .wrapper main .sinCourse .container .sRating .sBorder {
    border: 1px solid white;
    padding-right: 20px;
    border-left: none;
    border-top: none;
    border-bottom: none;
  }
  .wrapper main .sinCourse .container .sRating #starGold {
    color: gold;
  }
  .wrapper main .sinCourse .container .sRating p {
    color: rgb(201, 199, 199);
  }
  .wrapper main .sinCourse .container .sAuthor {
    padding-top: 140px;
  }
  .wrapper main .sinCourse .container .sAuthor #fatWhite {
    font-weight: 700;
  }
  .wrapper main .sinCourse .container .sAuthor p {
    height: 15px;
    color: white;
    margin-left: 80px;
    position: relative;
    bottom: 55px;
  }
  .wrapper main .courseDescription {
    padding-top: 80px;
  }
  .wrapper main .courseDescription .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .wrapper main .courseDescription .container .infoCourse h2 {
    font-size: 42px;
    font-weight: 700;
    padding-bottom: 20px;
  }
  .wrapper main .courseDescription .container .infoCourse p {
    font-size: 17.9px;
    font-weight: 400;
    color: #565973;
  }
  .wrapper main .courseDescription .container .infoCourse .courseLearn h4 {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 20px;
    padding-top: 40px;
  }
  .wrapper main .courseDescription .container .infoCourse .courseLearn i {
    color: #6366f1;
    padding-right: 5px;
    font-size: 14.5px;
  }
  .wrapper main .courseDescription .container .courseInclude {
    box-shadow: rgb(207, 207, 207) 0px 0px 12px 0px;
    border-radius: 10px;
    width: 430px;
    padding-top: 50px;
    padding-left: 50px;
    margin-left: 200px;
  }
  .wrapper main .courseDescription .container .courseInclude h4 {
    padding-bottom: 25px;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 40px;
  }
  .wrapper main .courseDescription .container .courseInclude p {
    color: #565973;
  }
  .wrapper main .courseDescription .container .courseInclude img {
    padding-right: 8px;
  }
  .wrapper main .courseDescription .container .sCoursePrice {
    display: flex;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 10px;
  }
  .wrapper main .courseDescription .container .sCoursePrice #sPrice {
    font-size: 35px;
    font-weight: 700;
    color: black;
  }
  .wrapper main .courseDescription .container .sCoursePrice #sOldPrice {
    margin-top: 12px;
    font-size: 21px;
    text-decoration: line-through;
    color: #9397ad;
  }
  .wrapper main .courseDescription .container button {
    width: 157px;
    height: 50px;
  }
  .wrapper main .programDetails {
    padding-top: 100px;
  }
  .wrapper main .programDetails .container h2 {
    font-weight: 700;
    font-size: 42px;
  }
  .wrapper main .programDetails .container .programSteps {
    padding-top: 50px;
  }
  .wrapper main .programDetails .container .programSteps #sDiv {
    position: absolute;
    top: 1540px;
    left: 344px;
    z-index: -1;
  }
  .wrapper main .programDetails .container .programSteps .stepsFlex {
    display: flex;
    gap: 30px;
    padding-bottom: 20px;
  }
  .wrapper main .programDetails .container .programSteps .stepsFlex #stepOfs {
    position: relative;
    bottom: 10px;
  }
  .wrapper main .programDetails .container .programSteps .stepsFlex #stepTt {
    position: relative;
    bottom: 20px;
  }
  .wrapper main .programDetails .container .programSteps .stepsFlex #step5 {
    position: relative;
    bottom: 30px;
  }
  .wrapper main .programDetails .container .programSteps .stepsFlex h4 {
    font-weight: 700;
    font-size: 25px;
  }
  .wrapper main .programDetails .container .programSteps .stepsFlex p {
    color: #565973;
    padding-right: 500px;
    font-size: 17.9px;
  }
  .wrapper footer {
    padding-top: 180px;
  }
  .wrapper footer .container .socialMedias {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }
  .wrapper footer .container .socialMedias a {
    background-color: #eff2fc;
    border-radius: 7px;
  }
  .wrapper footer .container .socialMedias a:hover {
    background-color: #c5d2ff;
    transition: 0.3s;
  }
  .wrapper footer .container .socialMedias a i {
    margin: 15px 17.5px 15px 17.5px;
    font-size: 20px;
    color: #33354d;
  }
  .wrapper footer .container p {
    text-align: center;
    font-size: 18px;
    color: #9397ad;
  }
  .wrapper footer .container .footerRights {
    padding-bottom: 50px;
    position: relative;
    bottom: 12px;
  }
  